@model MainTableViewModel

<h1>Main Table Data</h1>
@*<form method="post" action="/Tipipergjigjemain/create">*@
    <table class="table">
        <thead>
            <tr>
                <th style="height:100%; width:20%; border:2px solid; background-color:whitesmoke">
                    Shiriti i kerkesave per plotesim
                </th>
                <th style="height:100%; width:20%; border:2px solid; background-color:whitesmoke;text-align:center">
                    Terren
                </th>
                <th style="height:100%; width:20%; border:2px solid; background-color:whitesmoke;text-align:center ">
                    Kerkese me email
                </th>
                <th></th>
            </tr>
        </thead>
        <thead>
            <tr>
                <th style="height:100%; width:20%; border:2px solid;background-color:whitesmoke;text-align:center">
                    Ora
                </th>
               @* <th style="height:100%; width:20%; border:2px solid; background-color:whitesmoke;text-align:center">
                    <div class="form-group">
                        <label asp-for="KerkesaId">Kerkesa</label>
                        <select asp-for="KerkesaId" asp-items="@Model.Tipi_KerkesesList" class="form-control">
                            <option value="">-- Select Kerkesa --</option>
                        </select>
                        <span asp-validation-for="KerkesaId" class="text-danger"></span>
                    </div>
                </th>
                <th style="height:100%; width:20%; border:2px solid; background-color:whitesmoke;text-align:center">
                    x
                    <div class="form-group">
                        <label asp-for="KerkesaId">Kerkesa</label>
                        <select asp-for="KerkesaId" asp-items="@Model.Tipi_KerkesesList" class="form-control">
                            <option value="">-- Select Kerkesa --</option>
                        </select>
                        <span asp-validation-for="KerkesaId" class="text-danger"></span>
                    </div>
                </th>*@

                
                <th style="height:100%; width:20%; border:2px solid; background-color:whitesmoke;text-align:center">
                    @*<div class="form-group">
                        <label asp-for="KerkesaId">Kerkesa</label>
                        <select asp-for="KerkesaId" asp-items="@Model.Tipi_KerkesesList" class="form-control">
                            <option value="">-- Select Kerkesa --</option>
                        </select>
                  
                 
                    <span asp-validation-for="KerkesaId" class="text-danger"></span>
                    </div>*@
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.MainTables != null)
            {
                @foreach (var mainTable in Model.MainTables)
                {
                    <tr>
                        <td style="height:100%; width:20%; border:2px solid;background-color:lightcyan">
                            @if (mainTable != null)
                            {
                                <div class="card">
                                    <div class="card-body" style="text-align:center">
                                        <p class="card-text" id="@mainTable.Main_Table_Id">@mainTable.ora</p>
                                        
                                    </div>
                                </div>
                            }
                        </td>
                    <form method="post" action="/tipipergjigjemain/create">

                        <td style="height:100%; width:20%; border:2px solid;background-color:whitesmoke">
                            @if (Model.Pergjigjas != null)
                            {
                                <ul class="list-group">
                                    <div class="form-group">
                        <label asp-for="KerkesaId">Kerkesa</label>
                        <select asp-for="KerkesaId" asp-items="@Model.Tipi_KerkesesList" class="form-control">
                            <option value="">-- Select Kerkesa --</option>
                        </select>
              
                 
                    <span asp-validation-for="KerkesaId" class="text-danger"></span>

                    </div>
                                    @foreach (var pergjigja in Model.Pergjigjas)
                                    {
                                        <li class="list-group-item">
                                            <label for="pergjigja-@pergjigja.PergjigjaId">@pergjigja?.Emri_Pergjigja</label>
                                            <input type="hidden" name="pergjigjaValues.Index" value="@pergjigja.PergjigjaId" />
                                            <input type="text" id="pergjigja-@pergjigja.PergjigjaId" name="pergjigjaValues[@pergjigja.PergjigjaId].Key" value="@pergjigja.PergjigjaId" style="display: none;" />
                                            <input type="text" id="pergjigja-emri-@pergjigja.PergjigjaId" name="pergjigjaValues[@pergjigja.PergjigjaId].Value" class="form-control" />
                                            <input type="hidden" name="main_table_id" value="@mainTable.Main_Table_Id" placeholder="@mainTable.Main_Table_Id"/>
                                            <input type="hidden" name="kerkesaId" value="@Model.Tipi_KerkesesList" placeholder="@@Model.Tipi_KerkesesList" />
                                      
                                        

                                    </li>
                                    }
                                </ul>
                            <input type="hidden" name="Main_Table_Id" value="@mainTable.Main_Table_Id" />
                            <input type="hidden" name="main_table_id" value="@mainTable.Main_Table_Id" placeholder="@mainTable.Main_Table_Id" />
                            <input type="hidden" name="userId" value="@Model.userId" />
                          
                            <button type="submit" class="btn btn-primary">Submit</button>
                            }
                        </td>
                         </form>
                        <td style="height:100%; width:20%; border:2px solid; background-color:whitesmoke;text-align:center">
                    <div class="form-group">
                        <label asp-for="KerkesaId">Kerkesa</label>
                        <select asp-for="KerkesaId" asp-items="@Model.Tipi_KerkesesList" class="form-control">
                            <option value="">-- Select Kerkesa --</option>
                        </select>
                    </div>
                </td>
                <td style="height:100%; width:20%; border:2px solid;background-color:whitesmoke">
                  
               
                    </tr>
                    
                }

            }

        </tbody>
    </table>
